################################################################
# common
################################################################
MAKEFILE="${SrcDir}/Makefile.northstar"
ROUTER_CONFIG="${SrcDir}/configs/northstar/.config_northstar"
KERNEL_PATH="${KernelDir}/universal/linux-4.4"
KERNEL_CONFIG="${KERNEL_PATH}/.config_northstar_smp"
TOOLCHAIN_PATH="${PrjDir}/openwrt/staging_dir/toolchain-arm_cortex-a9_gcc-6.3.0_musl-1.1.16_eabi"
SVN_REVISION=35770

################################################################
# extension
################################################################
STAGING_DIR=$TOOLCHAIN_PATH
